#body{
    background-image: url(ee0a47d7342f4ab1db5590793875d53c.png);
    background-size: cover;
} 
#log{
    background-color: azure;
    margin-top: 500px;
}
#welimg{
    size: 50px;
}
#login{
    background-color:rgb(112, 166, 213);
    size: 300px;
    border-radius:25px;
}